body {
    font-family: 'levisLight', 'Arial';
}
ul {
    margin: 0px;
    padding: 0px;
}
.noPdn {
    padding: 0px;
}


.noPdnR {
    padding-right: 0px;
}


::selection {
    background: #c30d2d;
    color: #fff;
    text-shadow: none;
}
.text-right {
    text-align: right;
}

.text-left {
    text-align: left; 
}

.w100 {
    width: 100%;
}

//Zoom JS
.cloudzoom-zoom {
    height: 545px !important;
    width: 490px !important;
    border: none !important;
    box-shadow: none !important;
}
//Zoom


.col-five {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}


//SWIPER 
.swiper-container-horizontal > .swiper-pagination-bullets {
    margin-top: 15px;
    position: relative;
}
//SWIPER SLIDES

