.registerDataInput input[type=text] {
    width: 100%;
    padding: 10px;
    background: #f0f0f0;
    border: 1px solid black;
}

button.actionRegisterButtons {
    width: 100%;
    border: none;
    padding: 10px;
    background: #403f3f;
    color: white;
}


    .regDataShow {
        margin: 0 auto;
        width: 333px;
        position: relative;
    }
    .regDataShow h1 {
        text-transform: uppercase;
        text-align: center;
    }
    