.txtInterBn {
    font-family: 'levisRegular', 'Arial';
    text-transform: uppercase;
    text-align: center;
    font-size: 1.6em;
    margin: 55px 0px;
}
.videoYtCambio {
    max-width: 900px;
    margin-top: 30px;
}
.kitVideosFt {
    margin-top: 20px;
}
.videoTargertChange {
    display: none;
}
.topSecondSlide {
    margin-top: 50px;
}
.icnPlayBtn {
    position: absolute;
    left: 50%;
    margin-left: -33px;
    top: 50%;
    margin-top: -33px;
}
.shadowVid {
    margin-top: 20px;
    box-shadow: 5px 7px 10px 0px #323232;
}
.vidToShow {
    display: none;
}