
.slideHomeTop { padding-bottom: 20px; }

.twoBanners { padding-bottom: 20px; }


.promoCenter span { 
    background: #c43210!important;
    border: 1px solid #c43210!important;
    width: 7px!important;
    display: inline-block!important;
    height: 7px!important;
    border-radius: 7px!important;
    margin: 0 5px .5px 0!important;
    			  } 

 

.spaceNoPromo { 
	height: 33px; 
	border-bottom: 1px solid #e4e4e4
}


 



//botones slides
  .gisg button {
    width: 150px;
    border: none;
    padding: 16px;
    background: rgba(255, 255, 255, 0.61);
    font-family: levisRegular;
    font-size: 17px;
    margin: 0px 10px;
}

.gisg {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
//botones slides
















